h1 {
    text-align: center;
    color: var(--black-font-color);
}

form {
    margin: var(--space-8) auto;
    padding: var(--space-4);
    background-color: var(--box-background-color);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-medium);
    text-align: center;
    max-width: 25rem;
}

form a:hover, form a:active {
    color: var(--black-font-color);
}