html {
    font-family: 'Nunito', sans-serif;

    --box-background-color: #fff;
    --background-color: #f8f9fa;
    --black-font-color: #000;
    --white-font-color: #fff;
    --lighter-grey-color: rgb(138, 147, 159);

    --shop-pink: rgb(191, 73, 178);
    --shop-pink-mix: rgb(191, 73, 178);
    --shop-mix: rgb(96, 99, 212);
    --shop-blue-mix: rgb(74, 112, 226);
    --shop-blue: rgb(0, 125, 245);

    --shop-gradient: linear-gradient(to left, var(--shop-pink), var(--shop-blue));
    --shop-gradient-hover: linear-gradient(to left, rgb(158, 56, 146), rgb(3, 117, 223));

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;

    --border-radius-small: 10px;
    --border-radius-medium: 15px;
    --border-radius-high: 20px;

    --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--background-color);
    color: var(--black-font-color);
    margin: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--shop-mix);
}

.btn {
    cursor: pointer;
    font: inherit;
    padding: var(--space-2) var(--space-6);
    margin: var(--space-4);
    background-image: var(--shop-gradient);
    color: var(--white-font-color);
    border: 1px solid transparent;
    border-radius: var(--border-radius-high);
    transition: transform 0.75s;
    min-width: 160px;
}

.btn:hover, .btn:active {
    background-image: var(--shop-gradient-hover);
    color: var(--white-font-color);
    transform: scale(1.05);

}

.error {
    text-align: center;
}

.alert {
    margin: var(--space-8) auto;
    padding: var(--space-4);
    background-color: var(--box-background-color);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-medium);
    max-width: 25rem;
    color: red;
}

.alert h2 {
    font-size: 1rem;
    margin: var(--space-2);
    text-transform: uppercase;
    margin: 0 0 var(--space-4) 0;
}