.cart-item {
    display: flex;
    flex-direction: column;
    background-color: var(--box-background-color);
    padding: var(--space-6);
    margin: var(--space-6) 0;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--shadow-medium);
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.cart-item-thumbnail {
    width: 10rem;
    border-radius: var(--border-radius-small);
}

.cart-item-data {
    margin: var(--space-4) 0 ;
}

.cart-item-data h2 {
    font-size: 1rem;
    margin: 0;
}

.cart-product-price {
    font-style: italic;
    color: var(--medium-grey-color);
}

.cart-item-managment {
    text-align: center;
    margin: 0;
}

.cart-item-managment input {
    font: inherit;
    justify-content: space-between;
    padding: var(--space-2);
    margin: 0 var(--space-2);
    border-radius: var(--border-radius-high);
    border: none;
    box-shadow: var(--shadow-medium);
    width: 100px;
    text-align: center;
}

#cart-total {
    padding: 0 0 var(--space-8) 0;
    text-align: center;
}

#cart-total {
    display: block;
    justify-content: space-between;
    align-items: center;
}

#cart-total p {
    font-size: 1.5rem;
    color: var(--shop-blue-mix);
    font-weight: bold;
}

#cart-total #cart-total-fallback {
    font-size: 1rem;
    font-weight: normal;
    color: var(--shop-pink-mix);
}

.btn {
    margin: 0;
}

@media (min-width: 48rem) {
    .cart-item {
        display: flex;
        background-color: var(--box-background-color);
        padding: var(--space-6);
        margin: var(--space-6) 0;
        border-radius: var(--border-radius-medium);
        box-shadow: var(--shadow-medium);
        flex-direction: row;
        justify-content: space-between;
    }

    .cart-item-info {
        display: flex;
        flex-direction: row;
        text-align: left;
    }

    .cart-item-data {
        margin: 0 var(--space-4) ;
    }

    .cart-item-managment {
        text-align: right;
        margin: 0;
    }

    .cart-item-managment input {
        margin: 0 var(--space-4);
    }

    #cart-total {
        text-align: left;
        display: flex;
    }
}