form hr {
    border-color: var(--shop-blue-mix);
    margin: var(--space-4);
}

label {
    color: var(--shop-mix);
    display: block;
    margin-bottom: var(--space-2);
    text-align: left;
}

input, textarea {
    font: inherit;
    padding: var(--space-2);
    border-radius: var(--border-radius-small);
    border: none;
    width: 100%;
    background-color: var(--background-color);
    box-shadow: var(--shadow-medium);
    transition: transform 0.75s;
}

input:hover, input:active, textarea:hover, textarea:active {
    border: none;
    transform: scale(1.05);
    background-color: #F6F6F6FF;
}